<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeviceCertificate</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUN1akNDQWFLZ0F3SUJBZ0lCQURB
	TkJna3Foa2lHOXcwQkFRVUZBREFBTUI0WERUSTFNVEl4TURBd01EY3oKT1ZvWERUTTFN
	VEl3T0RBd01EY3pPVm93QURDQ0FTSXdEUVlKS29aSWh2Y05BUUVCQlFBRGdnRVBBREND
	QVFvQwpnZ0VCQUthcGdXS3BMdmJOV3hlVXpKdUNteGxSdkN3QkR5RWFranhYazFXNjN5
	WElSZGNsSi9YRWxZaUl4a0tPCkhmSUZUdFJ0QUlvMkFyekFvRnRjekw4UUpJRlNGREVH
	RnVSTURqUXJSdXhBaTVraW55K1dvQVZxVWY2VVdiTEwKVjdKeWdoZ2xaMWpsRW1KT05Y
	UG1kMHkrdkcvTEJpU0pUZ2RJdzlOYjdib0R4RmpoWVhRclFZT0pqNHMrYk1TZQplSTZT
	b3BIRm5UYVBJa1NVQS82M1dzMXpjOS9TMXFReUdVWUpIR2NEU1hzM2xHRzQ4alR1bzls
	OE1MeklocFR6Ckg3OTJQKysySXFiRU93c1kxNHhiblYva0tZSzJQcXFrMERMZUNReEMw
	dU5xT3BVSFNIbDd6YWdFUjVYbktYVisKd1NBTElTNWd4MmxQeEFtME5ZNmtTZlNUVFVr
	Q0F3RUFBYU0vTUQwd0RBWURWUjBUQVFIL0JBSXdBREFkQmdOVgpIUTRFRmdRVVZYYmky
	SzUycXBRd29CME9ZQWNRcFd1d0o1RXdEZ1lEVlIwUEFRSC9CQVFEQWdXZ01BMEdDU3FH
	ClNJYjNEUUVCQlFVQUE0SUJBUUNJdWVOT3F1UkIzQUZlZjhzZWdpemxpMG1iVldObFRo
	RXBzbG1kV1JkZzN4eXQKVzJCOWJ6d3dpUlU3dDBhQlkzSTAydUs3TGZ3UE5LME52ZFFE
	SU5UTTVUc3liS2ZSZHJkSzhWQzVCcDIwWDNYbwpTWWpKS1RjNXU5alhPbDRhbWJUMFFl
	YmFDUzdlb3NOS29hanlxekFCamZ1blBWb3IyM3BrOGZUQzdjUDFpbzNGClNaN3FobU5U
	aURUSDRwZFY5Zys2dUhFWGxyQWNxWWpOcnZ0d1hQZjgrS1lnL0dVbDNxNUROZWxVeCtk
	bGdmbHcKakZCeVNldHJQeEYzSko4dngyQllJUENOZ25ITDBSZ2JVTGFwVVNKMUpXWXRK
	c3lGV1pOU2RNOW1wS29vYjdwNgpJMGRPL0huYzZGUTA4VWhYZ29lc1B1eXBIYTlNella
	SFJPbjV4ZHMrCi0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0=
	</data>
	<key>HostPrivateKey</key>
	<data>
	LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1JSUV2d0lCQURBTkJna3Foa2lHOXcw
	QkFRRUZBQVNDQktrd2dnU2xBZ0VBQW9JQkFRRE5IWU9EaU54UFJTRkwKM3M4bS9LWEw2
	VEVmOGd5YnRSRG0xSFZKMFIwL3prSEpIT05PZzNSYTFnMFNMUzlaUDJ5RUcvb2VmQUFv
	RkZPdgpadTd0ZU5CVnlZSlVFVzV3bkRvNUwzN2o2Z0pDTVo0U0FORGVHNnU3Znp2ZHdz
	ZCtsNnN6MEgxUUZsb2RqVThWCmUzbGdhbno2RXliUnBwdnZmUzNJeUVxWFhUenlocjhL
	cTRCZUp6NTVmNllVTVZaTDB2cGpaWHFFSTNBaXRadjkKWlVKNytZNTZyZmJnelhSOVNv
	MVIxaGpqemQxVmtlWUtsWUIrMFBxZVlqWTArRVZQV1B4Z1hjTHlJbnNOcWJlYwp4OHFv
	VGNXL3kxeXJsejJoaFd5Q3c0d2NwTUk5R1VBeVgrSW82b2QrdkZLWVRrM0twZkxhZW9x
	VENDVGpkUkVXClk0Mnc3UUUxQWdNQkFBRUNnZ0VCQUxmdFFqUGRzcWhHZGlBQmtNSUdC
	V24vRmpUdUtJNHJaQmVJNWcrbU8xTXUKMGVEVVRhUG16cHh4bXREMHdhT0c4dmpYMllZ
	aWJVV0RUTE5aV3VDSTJGQkUzT0FqcldPL1E1cHAwNS91QTg1MQpqYWZaSVhJNVg5cEdz
	bGtkd3lQcVB2TzhmZElsNlBMYzl0QnRveDVvL3Q2RDgraEZQVWtZZDhpMmllU0hFQkxz
	ClV0cHFPYmk3N0NIOXdyV0xYQkw4TzVkSEZCNG45UjRmdmtZNHBrYkhHU0paWmcyQms1
	VFNvUTh5MkpOL3ZJNncKc2hjMFFZajg5SDVsb2VRZXcvWHhMdDltNXI5VGN2RGhZSkt3
	QXRUVGIzdFpVZHBsNDJYem9MVXJFYUpremhIcQpjcHBTbExCN1FRdktIYjZsc0hzTEhF
	YVVKcGJ2SW10aVJibVAwNzgrYlBVQ2dZRUErUVY0L01tb3U5UzlnMi9oCnBDb2oyRGZO
	cVFXTjg0SUdUYkhuby9tQ21PM2VEYlN5QUNqMkNVamxKd2xmMERBZzMxOGpTam56Rk5h
	Vkc0aWsKcEdXMWcwaVZJQ3ZLZ1RiSnJFVlVqdjZlQWhwNnpCYlJOTFE5bmx3OVdISEx1
	WGh5UTdqWmRFbXlCUWRRN1RwZAp0MnMzd2c3aitPLzZHNnBBeDBKaldyNktzS2NDZ1lF
	QTB0ME01TE9QU0QvUk43M3J5TFF1YXpIMmxkL3JFVGlmCjgvR0JXc2c2TlV2cFQxd3hR
	L1RpbXpwZkNpUlBOOUF3bVZqb2NLVXIxUDZiRnUyTGJUWFpjNHBqSS9HRVY3QUcKZXpl
	R2hBQ2IxNUZLU1dCTHRKRFB4YVRNUjlqNlZ2SU0ybmVLME5rOWJPdXNIMGtnM3UwYzRZ
	a3E0ems4VFRIegoyZWppNDZXQVBzTUNnWUVBaVFLRDBNRzdQcTBNSURiOGRQQmlqR0lY
	bTNsYzRxK1ZmRVgzNXZZdTdxbGhWVFVvCkFvS0c3QkRaVTZNS3ZtYmNqMG12QnZYZlVv
	WEZ3RUpzSTY5Nk1PTk1lVWpld0QwK3RMUG9sRXh1NzBWV2J0ZlcKL3lKMERKOC9lVndT
	OU5iYU4zeUsyRHA3NGR4bW9EOU90TTRlL1h4bjNkMWJSTUZscHJ4V0llVllOVjBDZ1lC
	bgpaek1OYStoVm04WHpPZFZJUk9PR2VhZmNjMFFJMitYRWNLZm9ac3YwbXRjOHJZOFRM
	aUY1MGJRTmV5VEZ6L2dsCkd1NVJYdzRSa3hGbXV2Sm1pY09xM3pBaXppc0IvVFlRY25n
	cWYwbnMramlkcHZVNUJOSityNFBscjhlRG40c2kKRHdFcHpYNUx6WDVJa1VublNBdWpw
	ZW84SnpNay85disvaTlWUnpHT2xRS0JnUUNkOVBpU2ZWTTVEekxJT3g2RAp0cnhTLzd0
	TXRlMXgra2VxczNwSzdPVENLbzM3dUpMRk9kLzUxY05BTVBmampIVUZYSzZIVWN6ZThX
	T29IeDJNClB6M1FUWWVzdUN0bUpiRjQyRTNUWStMRUZJT0xiQXRldnpZY09jQWpwUTVL
	WEoxM3IrbnlCNmQ3RjBDUy9KQzYKYWN5TlArS2l5RVkwY1ZvYXRUUlpHblpIU3c9PQot
	LS0tLUVORCBQUklWQVRFIEtFWS0tLS0tCg==
	</data>
	<key>HostCertificate</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUN1akNDQWFLZ0F3SUJBZ0lCQURB
	TkJna3Foa2lHOXcwQkFRVUZBREFBTUI0WERUSTFNVEl4TURBd01EY3oKT1ZvWERUTTFN
	VEl3T0RBd01EY3pPVm93QURDQ0FTSXdEUVlKS29aSWh2Y05BUUVCQlFBRGdnRVBBREND
	QVFvQwpnZ0VCQU0wZGc0T0kzRTlGSVV2ZXp5YjhwY3ZwTVIveURKdTFFT2JVZFVuUkhU
	L09RY2tjNDA2RGRGcldEUkl0Ckwxay9iSVFiK2g1OEFDZ1VVNjltN3UxNDBGWEpnbFFS
	Ym5DY09qa3ZmdVBxQWtJeG5oSUEwTjRicTd0L085M0MKeDM2WHF6UFFmVkFXV2gyTlR4
	VjdlV0JxZlBvVEp0R21tKzk5TGNqSVNwZGRQUEtHdndxcmdGNG5QbmwvcGhReApWa3ZT
	K21ObGVvUWpjQ0sxbS8xbFFudjVqbnF0OXVETmRIMUtqVkhXR09QTjNWV1I1Z3FWZ0g3
	UStwNWlOalQ0ClJVOVkvR0Jkd3ZJaWV3MnB0NXpIeXFoTnhiL0xYS3VYUGFHRmJJTERq
	Qnlrd2owWlFESmY0aWpxaDM2OFVwaE8KVGNxbDh0cDZpcE1JSk9OMUVSWmpqYkR0QVRV
	Q0F3RUFBYU0vTUQwd0RBWURWUjBUQVFIL0JBSXdBREFkQmdOVgpIUTRFRmdRVXlPVll6
	eFhITlJOUW85SEk2UVdxb3RDWUsvVXdEZ1lEVlIwUEFRSC9CQVFEQWdXZ01BMEdDU3FH
	ClNJYjNEUUVCQlFVQUE0SUJBUUNOeXozaVZTaHErNjJlZTlQeTltTjJTeDJwaUQrYlZJ
	ZUQ0eWcwS0NsdjY4MnAKdENTaXhta0U5QXBSc2hTUFM4NWRSMVlWTndGODVicjNSUTFi
	Nm5FcXJzYnFQc0l4OERNY1JiR25UV3ZTYlVZeQphMW82VzVRb3ZNdjAvb3dTKzNPbXlm
	Z05NeVBrTE9XVHV2Q2tvZ2wwUnhuc0k2ZGZ0N21zSCtEUGY4MVRxZnZLCjF5cFpMYXlr
	RzRGRWZBSEl1V094OFhGRVZ1UzRVOTJxdGhkSVRscUFIeVZwRXFBQ2cwNmNFK3dFMk1x
	V2xSZkwKZ3Y5VkxKV25XaEFmKzIxcWVITDRPL3NUMXdoOFMvMVBaWjVXQThZVDM0RnNy
	WTRBU292bHJGREdQMGN2S2lzcQp4MkVRN3V5QS9sU1Y1b1pxTlExWEdHb0dMOFZjbnpn
	VW5zOGI3WXpGCi0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0=
	</data>
	<key>RootPrivateKey</key>
	<data>
	LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1JSUV2QUlCQURBTkJna3Foa2lHOXcw
	QkFRRUZBQVNDQktZd2dnU2lBZ0VBQW9JQkFRQzF1YjNybTN2WFNrUTgKV2ZtWWJMVDR4
	ZFlSNXFnSXIvTkZIdm82NGI5aDk4NTY1K0FBN3dNWFJCQ2RPbkViU3UycW1KUU0xUzl2
	Wlc1dQpZN0lmUmh5VmZMdnI4VWUvUzEzaU03cUFoVSs1M1d0SFVHRVQ3U1RVN1hCdkpP
	MUNvanFwak5qd3RuSjUrL3FVCkJxbk5pdFJwVWFBNDJzSHdSanZQNTE5VkVRc2J1bWVH
	RHhlclE2Y2NmM3hyVURuVjRtMDNwcEhPNXdwdnZWZDYKQ0pWMnBYbE15eUludUE2SDVt
	dmZCSVdFUFZMNkluMkV1eHdGUnhkdGxTREZDWmhCWHlOVnJKRU9lS2h3cWJXMQoxV0FL
	OTV5cmppMjhQVVRzZkNya09FME1nMitDTThzRWdFdkVoS29TZFFidjlhRE5MUmJTMFBv
	Wk9YdnE5VWhwClN1YnIrYXFyQWdNQkFBRUNnZ0VBSm5pRjNrVHlPS2QrUHBDRnFHRUxC
	c2RMQkVzaU00U2NLWHZmV1d2RkNrWmQKcmVNOHByWHluNUJIUENITkpBdit1R2pJbnRi
	YXplaFpNb0ZraWY1YnVzSEhQckc3a0tHeDVGc3pGbFlpaEtSOQpPNEdtcTRNK2t0MFpP
	azVFOUNCSDd2RGtWRUVyaHV0ekpyY3FaMXNHa0swNUVCQXZrbUFyOVYxejd4eEdqNzNS
	CkxFUDRsMkt1SWxsL09wSWc3NTF4UlZrL2Y4ZERHYk9zS29BTjJZUkxEM21GRGVIYnc0
	eWd4bVNHY0ZjMkVJL04KeWtCcXZyRHhFcUx5c2Juek5HTk5mNnk3WWNIZDNXSkU0RGtz
	RXdGQ1FUU2pUUDhsbjArWk1wQU5CTm9nU2hncwpRdkQ1QnZUZkw1d0pxRWZ3SXN4TFVx
	YjdFRUVIaXdjT2xSUTRVSEluNFFLQmdRRGFXQ2h1TzBJMGpLM21nV1lZCi9rM04zMU16
	aDUxVEFabEY2NXN5SHVrblc0QWxIRGp3QmQxQ3c4enJwRGM2YWhRNDdKQkNBMFZVNGtS
	MTZBLzEKMmlRUm1xcTNYWndtWnhYOWhoSG9IN0V2bVd6cXBSZEJxTDFLMmt3ZW1GMGZZ
	cnZxV3lQQTdoT0E3NWY0NGhMaQptUDU0aU9UQWZjSFdSWC82K1NmdjlkR2F1UUtCZ1FE
	VkVOK3IyUjdVNUFvWHZUeDRINjdocFdoWnkxQ1o3UytDCjJOdVRYTGNJUUJ1MGlscXFQ
	RnJKQndzNlIyV3JMMHdKdTNHQTV2WmNjSmkzTFRFTDNnMEVCVy84N0x1WTBodkgKTW41
	WHN1K0lKa05ISHFHenVxQll0ZDdCbThOUkNwdjJjM1dqS0kzbjZ6QzZrbys5T3hNNzBB
	WlNNdjNlZWd4dQpCWGh4elJ4dWd3S0JnRDBPSmRBZE5mZ24xb0Q4Y2laUEJrYXBTa1RB
	aVZlcXZNZDJpS0ZOVDNrMzl1OXBvdXBMCldZSFA2citCM2dleG5oSUU1Sm53L0RRdVNX
	S0hEOTk1cmxoVjNhTUV4Q05nOUI4K25FZENoWE4vL1pybnEwY3EKL2pPdU0xYmkyRGRz
	am91TURNVm9UWC9pZjZhUzRTRUlFekIxWnpJRWVHMklaYTh5ZU41NjZLL1JBb0dBVjVG
	YQp6Qzh0RzhRcFhiNVp0dWtXb0FpeVRZMWhNQklxWDdXdThPNi9EdllDTFA1YjZ2RnBR
	b3ZSa244N2l0S2lockZ5CkljOUsyNDB2UnNHZEVjcU9RT1BYTmZVNTJNSXB4b0c3S1dJ
	U1RqdWpsUHhDNnpJOXFwZjgyRWVqUzVCM3J4K2UKN3BMQlY5cnlxUXVKWmZWOG55Mk5H
	NFYzajFOTC9uL2pFNnFBRCs4Q2dZQWJOOU83aXUzYTh0NHN2VlY3bVhUcQpTVEZ0YlFt
	Y0g5WDlKclE3eno1R1duSmpZZUk4OU9YS3VXNDFkUDAzNnIrVUQrV05jWEhqMVc2WHhK
	Yi80aGZXCjVZU1BPTzgzUVlxaHlxUDVOeXJmQ1ZYQ0RQakN0MGd0UGorWXYvOTVkTHZL
	Q0VkR0lGNDY1azNwSXRSSUhFV3AKOHNURU1UcE1XWXJxa1pWcEI3cTl4dz09Ci0tLS0t
	RU5EIFBSSVZBVEUgS0VZLS0tLS0K
	</data>
	<key>RootCertificate</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUNyVENDQVpXZ0F3SUJBZ0lCQURB
	TkJna3Foa2lHOXcwQkFRVUZBREFBTUI0WERUSTFNVEl4TURBd01EY3oKT1ZvWERUTTFN
	VEl3T0RBd01EY3pPVm93QURDQ0FTSXdEUVlKS29aSWh2Y05BUUVCQlFBRGdnRVBBREND
	QVFvQwpnZ0VCQUxXNXZldWJlOWRLUkR4WitaaHN0UGpGMWhIbXFBaXY4MFVlK2pyaHYy
	SDN6bnJuNEFEdkF4ZEVFSjA2CmNSdEs3YXFZbEF6VkwyOWxibTVqc2g5R0hKVjh1K3Z4
	Ujc5TFhlSXp1b0NGVDduZGEwZFFZUlB0Sk5UdGNHOGsKN1VLaU9xbU0yUEMyY25uNytw
	UUdxYzJLMUdsUm9EamF3ZkJHTzgvblgxVVJDeHU2WjRZUEY2dERweHgvZkd0UQpPZFhp
	YlRlbWtjN25DbSs5VjNvSWxYYWxlVXpMSWllNERvZm1hOThFaFlROVV2b2lmWVM3SEFW
	SEYyMlZJTVVKCm1FRmZJMVdza1E1NHFIQ3B0YlhWWUFyM25LdU9MYnc5Uk94OEt1UTRU
	UXlEYjRJenl3U0FTOFNFcWhKMUJ1LzEKb00wdEZ0TFEraGs1ZStyMVNHbEs1dXY1cXFz
	Q0F3RUFBYU15TURBd0R3WURWUjBUQVFIL0JBVXdBd0VCL3pBZApCZ05WSFE0RUZnUVVU
	WGljRWIwU0pjd3VnWFNaaDdyYjRtMUU4dUl3RFFZSktvWklodmNOQVFFRkJRQURnZ0VC
	CkFHQjFUNnlGRzdVdXByVGtaNDZSNk9tVUxMRGlueXFCVkRURjROQk5VelgxalBIY3E3
	U0Z1NzlQYkJmN1Y2ZHQKQlJYU3BrTFFLNGdBS0NFZXBraVQyOEFEZFRaRWtMeEl3NEtI
	T3c5bUN0ZmhCUEhZbjFlb21rWHdUNFdVenFZOApUYllDVzE4RUFyOFJwWXhJVjR6MnNp
	S3BYMEh1R2MrR2NlcXVIajRqQnE0aktqTlllUnMyY1JTcGgrallsZ0MxCkNsbG5OVUlQ
	Ynl5aSt6d0ZldEw2L2pjNDlGem9EbC9BbnZLb2xweWF2UDZPUVpNb201cXAxUEg3TmlW
	MGladDMKMmkrSjJQbHhxbDYxKzRRckViOGdGM0F2TWlKVlF3aTg2UWxmODhGR2ZIa0tO
	MFNDWEVuTXJlWmN0dndyUW0zQwpabGRNZVJvR0RNazhSem5SWDBZM2lUYz0KLS0tLS1F
	TkQgQ0VSVElGSUNBVEUtLS0tLQ==
	</data>
	<key>SystemBUID</key>
	<string>D1CC209C-62D7-4614-B5A6-CE16CFD6536E</string>
	<key>HostID</key>
	<string>1AADF01E-8D93-4E28-98A9-2A569D46D12E</string>
	<key>EscrowBag</key>
	<data>
	BVd4XmKd+am2cJ46ruPWeZJRpVWKoW6mSuh1R8fo3OM=
	</data>
	<key>WiFiMACAddress</key>
	<string>dc:9e:8f:bf:5c:1b</string>
	<key>UDID</key>
	<string>00008140-000A59C23684801C</string>
</dict>
</plist>